<div id="mailsub" class="notification" align="center">

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width: 320px;"><tr><td align="center" bgcolor="#eff3f8">
<table border="0" cellspacing="0" cellpadding="0" class="table_width_100" width="100%" style="max-width: 550px; min-width: 300px;">
    <tr><td>
	<!-- padding --><div style="height: 80px; line-height: 80px; font-size: 10px;"> </div>
	</td></tr>
	<!--header -->
	<tr><td align="center" bgcolor="#ffffff" style="background: antiquewhite;border-radius: 10px 10px 0px 0px">
		<!-- padding --><!--<div style="height: 30px; line-height: 30px; font-size: 10px;"> </div>-->
		<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-bottom: 2px solid #77b43f;">
			<tr><td align="left"><!-- 

				Item --><div class="mob_center_bl" style="float: left; display: inline-block; width: 115px;">
					<table class="mob_center" width="115" border="0" cellspacing="0" cellpadding="0" align="left" style="border-collapse: collapse;">
						<tr><td align="left" valign="middle">
							<!-- padding --><!--<div style="height: 20px; line-height: 20px; font-size: 10px;"> </div>-->
							<table width="115" border="0" cellspacing="0" cellpadding="0" >
								<tr><td align="left" valign="top" class="mob_center" style="padding: 10px;">
									<a href="#" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 13px;">
									<font face="Arial, Helvetica, sans-seri; font-size: 13px;" size="3" color="#596167">
									<img src="<?php echo base_url('assets/img/logo22.png'); ?>" alt="Mobilelinkusa" border="0" style="display: block;width:220px;height:50;" /></font></a>
								</td></tr>
							</table>						
						</td></tr>
					</table></div>
				</td>
			</tr>
		</table>
	</td></tr>
	<!--header END-->

	<!--content 1 -->
	<tr><td align="center" bgcolor="#fbfcfd">
		<table width="90%" border="0" cellspacing="0" cellpadding="0">
			<tr><td align="center">
				<div style="line-height: 70px;">
					<span><img src="<?php echo base_url('assets/img/add.png'); ?>" style="height:55px;margin-top: 20px;position: relative;margin-bottom:20px;" /></span>
				</div>
				<!-- padding --><!--<div style="height: 20px; line-height: 40px; font-size: 10px;"> </div>-->
			</td></tr>
			<tr><td align="center">
				<div style="line-height: 24px;">
					<font face="Arial, Helvetica, sans-serif" size="4" color="#000000" style="font-size: 15px;">
					<span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #000000;">
						Your employee <b style="font-variant: small-caps;color: #f44336;">Shahbaz Ahmed (RSM)</b> time correction has been done, Details are shown below.
					</span></font>
				</div>
				<!-- padding --><!--<div style="height: 40px; line-height: 40px; font-size: 10px;"> </div>-->
			</td></tr>
		</table>		
	</td></tr>
	<!--content 1 END-->
	<!--content 2 -->
	<tr><td align="center" bgcolor="#ffffff" style="border-bottom-width: 0px; border-bottom-style: solid; border-bottom-color: #eff2f4;">
		<table width="94%" border="0" cellspacing="0" cellpadding="0">
			<tr><td align="center">

				<div class="mob_100" style="float: left; display: inline-block; width: 33%;">
					<table class="mob_100" width="100%" border="0" cellspacing="0" cellpadding="0" align="left" style="border-collapse: collapse;">
						<tr><td align="center" style="line-height: 14px; padding: 0 27px;">
							<!-- padding --><div style="height: 20px; line-height: 40px; font-size: 10px;"> </div>
							<div style="line-height: 14px;">
								<font face="Arial, Helvetica, sans-serif" size="3" color="#77b43f" style="font-size: 14px;">
								<strong style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #77b43f;">
									<a href="#"style="color: #77b43f; text-decoration: none;font-variant: small-caps; font-size:16px;">Approved By</a>
								</strong></font>
							</div>
							<!-- padding --><div style="height: 10px; line-height: 18px; font-size: 10px;"> </div>
							<div style="line-height: 21px;">
								<font face="Arial, Helvetica, sans-serif" size="3" color="#98a7b9" style="font-size: 14px;">
								<span style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #98a7b9;text-transform:capitalize;">
									Shahbaz Ahmed 
								</span>
								<p style="line-height:0px;color:#F44336; font-size: 12px;">
									SD
								</p>
								</font>
							</div>
						</td></tr>
					</table>
				</div>
				<div class="mob_100" style="float: left; display: inline-block; width: 33%;">
					<table class="mob_100" width="100%" border="0" cellspacing="0" cellpadding="0" align="left" style="border-collapse: collapse;">
						<tr><td align="center" style="line-height: 14px; padding: 0 27px;">
							<!-- padding --><div style="height: 20px; line-height: 40px; font-size: 10px;"> </div>
							<div style="line-height: 14px;">
								<font face="Arial, Helvetica, sans-serif" size="3" color="#77b43f" style="font-size: 12px;">
								<strong style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #77b43f;">
									<a href="#"  style="color: #77b43f; text-decoration: none; font-variant: small-caps; font-size:16px;">Verified By</a>
								</strong></font>
							</div>
							<!-- padding --><div style="height: 10px; line-height: 18px; font-size: 10px;"> </div>
							<div style="line-height: 21px;">
								<font face="Arial, Helvetica, sans-serif" size="3" color="#98a7b9" style="font-size: 14px;">
								<span style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #98a7b9;text-transform:capitalize;">
									Shahzad Ali
								</span>
								<p style="line-height:0px;color:#F44336; font-size: 12px;">Surveillance</p>
								</font>
							</div>
						</td></tr>
					</table>
				</div>
				<div class="mob_100" style="float: left; display: inline-block; width: 33%;">
					<table class="mob_100" width="100%" border="0" cellspacing="0" cellpadding="0" align="left" style="border-collapse: collapse;">
						<tr><td align="center" style="line-height: 14px; padding: 0 27px;">
							<!-- padding --><div style="height: 20px; line-height: 40px; font-size: 10px;"> </div>
							<div style="line-height: 14px;">
								<font face="Arial, Helvetica, sans-serif" size="3" color="#77b43f" style="font-size: 14px;">
								<strong style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #77b43f;">
									<a href="#" style="color: #77b43f; text-decoration: none; font-variant: small-caps; font-size:16px;">Done By</a>
								</strong></font>
							</div>
							<!-- padding --><div style="height: 10px; line-height: 18px; font-size: 10px;"> </div>
							<div style="line-height: 21px;">
								<font face="Arial, Helvetica, sans-serif" size="3" color="#98a7b9" style="font-size: 12px;">
								<span style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #98a7b9;text-transform:capitalize;">
									Fahad Ahmed
								</span>
								<p style="line-height:0px;color:#F44336; font-size: 12px;">Time Correction</p>
								</font>
							</div>
						</td></tr>
					</table>
				</div>								
			</td></tr>
			<tr><td><!-- padding --><div style="height: 40px; line-height: 80px; font-size: 10px;"> </div></td></tr>
		</table>		
	</td></tr>
	<!--content 2 END-->

	<!--links -->
	
	
	<!--brands -->
	<tr><td align="center" bgcolor="#ffffff">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr><td align="center">
				<div class="mob_100">
					<table class="mob_100" width="100%" border="0" cellspacing="0" cellpadding="0" align="left" style="border-collapse: collapse;">
						<tr><td align="center">
							<div style="line-height: 5px;">							
								<a href="http://mobilelinkusa.com/tcorrection/manager" style="color: #fff;font-size: 15px;text-transform: uppercase;text-decoration: none;letter-spacing: 2px;border: none;background:#77b43f;padding: 8px;cursor: pointer;border-radius: 5px;">
										Click to visit the portal</a>
							</div>
						</td></tr>
					</table>
				</div>
			</td></tr>
		</table>		
	</td></tr>
	<!--brands END-->

	<!--footer -->
	<tr><td class="iage_footer" align="center" bgcolor="#ffffff" style="border-radius: 0px 0px 10px 10px;">
		</div>	
		
		<table width="100%" border="0" cellspacing="0" cellpadding="0" style="height: 70px;background: antiquewhite;border-radius: 0px 0px 10px 10px;margin-top: 20px;border-top: 2px solid #77b43f;">
			<tr><td align="center">
				<font face="Arial, Helvetica, sans-serif" size="3" color="#000000" style="font-size: 13px;">
				<span style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #000000;">
					2017 © MOBILELINKUSA. ALL Rights Reserved.
				</span></font>				
			</td></tr>			
		</table>
		
		<!-- padding --><!--<div style="height: 30px; line-height: 30px; font-size: 10px;"> </div>	-->
	</td></tr>
	<!--footer END-->
	<tr><td>
	<!-- padding --><div style="height: 80px; line-height: 80px; font-size: 10px;"> </div>
	</td></tr>
</table>
<!--[if gte mso 10]>
</td></tr>
</table>
<![endif]-->
 
</td></tr>
</table>
			
</div> 
